extend ./layout

block bodyContainer
  div(style='margin:30px; padding:10px;')
    p aaa
    a.arrowBtn.btnPrev.arrowBtnBlack(href='javascript:;') 返回
    p bbb
    a.arrowBtn.btnNext.arrowBtnBlack Next
    .arrowRight
    .arrowLeft
    .arrowTop
    .arrowBottom
  - fileImporter.importJs('/javascripts/index.coffee');